<div class="container py-5">
    <div class="container my-5">
        <table class="table">
            <thead class="bg-warning">
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">ID</th>
                  <th scope="col">DESCRIPCION</th>
                  <th scope="col">PRECIO DE COMPRA</th>
                  <th scope="col">PRECIO DE VENTA</th>
                  <th scope="col">GANANCIA</th>
                  <th scope="col">EXISTENCIA</th>
                  <th scope="col">EDITAR</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>